<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="VoidCraft_Map_Pad_Player_v1.VoidCraft_Map_Pad_Player_v1" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="VoidCraft_Map_Pad_Player_v1" android:icon="@drawable/Icon"></application>
</manifest>